.investMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-between;
}

.title { 
    width: 100%;
    font-size: 2.9rem;
    color: #76048d;
}

.investResults {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* box-shadow: 0 2px 3px #ccc; */
}

.line {
    border-top: 3px solid #76048d;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.investNav {
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 178, 179);
    box-shadow: 0 2px 3px #ccc;
    border-radius: 10px;
    padding: 20px;
}

button:hover {
    color: rgb(255, 255, 255);
}

button {
    margin: 10px;
}

