.formContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    
}
 
.authForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding-top: 20px;
    width: 125%;
    box-shadow: 0 2px 3px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(175, 178, 179);
}

.authIntro {
    display: flex;
    flex-flow: column nowrap;
    align-items: space-around;
    padding: 20px;
    background-color: rgb(175, 178, 179);
    box-shadow: 0 2px 3px #ccc;
    border-radius: 10px;
}

input {
    margin: 10px;
    outline: none;
    border: 1px solid #ccc;
    background-color: rgb(190, 190, 190);
    font: inherit;
    padding: 6px 10px;
    /* display: block; */
    width: 100%;
}
 
.lineAuth {
    border-right: 3px solid #76048d;
    height: 350px;
    margin-left: 50px;
    /* margin-bottom: 50px; */
}

h3 {
    margin-bottom: 25px;
    margin-top: 5px;
}

